body { background-color: rgb(243, 217, 71);
    color:rgb(10, 8, 8) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10em; }

table {background-color: rgb(221, 11, 75);
    color:rgb(10, 8, 8) ; }

table {background-color: rgb(243, 217, 71);
    color:rgb(10, 8, 8) ;}